{% extends "base.html" %}

{% block content %}
<h2>TradingView Chart</h2>
<div id="tradingview_chart"></div>

<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    var socket = new WebSocket('ws://' + window.location.host + '/ws/trading/');

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
    };

    new TradingView.widget({
        "width": 980,
        "height": 610,
        "symbol": "NASDAQ:AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_chart",
        "studies": [
            {
                "id": "Moving Average",
                "inputs": {
                    "length": 14
                }
            }
        ],
        "drawings_access": {
            type: "black",
            tools: [
                {
                    "name": "LineToolHorizontal",
                    "access": "full"
                }
            ]
        },
        "onChartReady": function() {
            this.createShape({
                type: 'LineToolHorizontal',
                disableSave: true,
                overrides: {
                    text: 'Limit Order',
                    linecolor: '#FF0000',
                    linewidth: 2
                },
                lock: true
            });

            this.onContextMenuAction((obj) => {
                if (obj.action === 'moveShape') {
                    var price = obj.price;
                    socket.send(JSON.stringify({
                        'type': 'move_order',
                        'price': price
                    }));
                }
            });
        }
    });
</script>
{% endblock %}